<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= headquarter.sede %></h2>
      <div class="btn-group btn-group-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Direccion: <%= headquarter.direccion %> </p>
    </div>
  </div>
</div>
<%= link_to "Listado de sedes", headquarters_path %>
